<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg animate__animated animate__fadeIn card-hover" style="width: 100%; max-width: 400px; border-radius: 15px;">
    <div class="card-header text-center text-white" style="background-color: #003366; border-top-left-radius: 15px; border-top-right-radius: 15px;">
      <h3 class="animate__animated animate__fadeInDown">Welcome Back</h3>
      <p class="mb-0 animate__animated animate__fadeInDown animate__delay-1s">Please login to your account</p>
    </div>
    <div class="card-body p-4">
      <form>
        <div class="mb-4">
          <label for="username" class="form-label">Username</label>
          <input type="username" [(ngModel)]="user.username" class="form-control animate__animated animate__fadeInLeft" id="username" name="username" placeholder="Enter your username" required>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" [(ngModel)]="user.password" class="form-control animate__animated animate__fadeInRight" id="password" name="password" placeholder="Enter your password" required>
        </div>
        
        <button type="submit" class="btn btn-primary w-100 animate__animated animate__pulse animate__infinite" (click)="login()">Login</button>
      </form>
    </div>
  </div>
</div>